.DS_Store
env/
__pycache__/
*.pyc
.venv/

# Results and logs
results/logs/


# Local data downloads (submodule handled separately)
data/anomaly-detection-log-datasets/**
!data/anomaly-detection-log-datasets
!data/anomaly-detection-log-datasets/.git
